.svn
build_output
code_drop
bin
obj
_ReSharper*
/packages
/dotNet/dropkick/Example/src/packages
/dotNet/powershellbdd/Example/Calculator/packages
*.csproj.user
*.[r|R]esharper.user
*.suo
*.user 
*.csproj.user
*.DotSettings.user
*.resharper
*.cache
*~
~*
*.swp
*.orig
.DS_Store
Thumbs.db
*.log
*.results.xml
/packages
*.sln.docstates
*.nupkg
*.bak
TestResult.xml
submit.xml
SolutionVersion.cs
SolutionVersion.vb